.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.backBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 130px;
    font-size: 19px;
    font-weight: bold;
    color: black;
}

.arrowIcon {
    padding: 10px;
}